@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


:root{

--pos: 30px;

}

html{

scroll-behavior: smooth;

}

body{

    margin: 0;
    padding: 0;
     /* background-color: rgb(37, 37, 37);  */
    background: rgb(188,231,132);
    background: linear-gradient(47deg, rgba(188,231,132,1) 40%, rgba(93,211,158,1) 98%); 
    font-family:'Poppins', sans-serif;
    color: whitesmoke;

}

#menu-nav{

    width: 100%;
    height: 80px;
    background-color: #3b3939;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
    
}

#menu-nav h3{

    font-weight: normal;
    margin:0;

}

#todo{

padding: 2em;

width: auto;
height: 2200px;

display: flex;
align-items: center;
text-align: center;
flex-direction: column;

}

#elmo{

position: relative;  
width: 90%;
height: 80px;
display: block;

}

#img-elmo{

  position: absolute;
  left: 420px;
  top: 0;

  height: 70px;
  width: auto;

  transition: all 0.3s ease-out;

}

#mini-menu{

border-radius: 3px;
background-color: #3b3939;
width: 80%;
height: 300px;

text-align: center;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;

box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);


}

#mini-menu h1{

margin:0;
font-weight: normal;

}

#menu-botones{

height: 100px;
width: 100%;

display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

}

.boton-mini{

margin: 3%;
height: 60px;
width: 120px;

color: whitesmoke;
text-decoration: none;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
background-color: #535353;
box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
border-radius: 2px;

}

.boton-mini:hover{

background-color: rgb(79, 145, 13);
cursor: pointer;
border-top: 2px solid rgb(99, 173, 25);
border-left: 2px solid rgb(99, 173, 25);
border-top-left-radius: 2px;

}

#cont-acerca{

  margin-top: 60px;
  border-radius: 3px;
  background-color: #3b3939;
  width: 80%;
  height: 700px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
}



#cont-image{

height: 80%;
width: 40%;

}

#cont-image img{

  width: 100%;
  height: 100%;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
  object-fit: cover;
  object-position:0 30;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;

}

#cont-about-info{

height: 80%;
width: 40%;

border-bottom-right-radius: 8px;
border-top-right-radius: 8px;

background-color: #535353;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);

}

#cont-guep, #cont-games{

  margin-top: 60px;
  border-radius: 3px;
  background-color: #3b3939;
  width: 80%;
  height: 700px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);

}


@media screen and (max-width: 800px) {

  #img-elmo{

    left: 140px;

  }

  #cont-image img{

    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0;
    object-position: center;

  }

  #cont-about-info{

    border-top-right-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 45%;
    width: 90%;
    
    }

  #cont-image{

    height: 45%;
    width: 90%;
    
    }

  #cont-acerca{

    flex-direction: column;

  }

    #mini-menu{

      margin-top: 10px;

    }

    #cont-acerca, #mini-menu{

      width: 90%;

    }

    body {
      font-size: 14px;
    }

    .boton-mini{

        width: 99px;

    }

    #todo{

      padding: 1em;

    }

  }

::-webkit-scrollbar {
    width: 13px; 
    background-color: #444444;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5c5c5c; 
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #8f8f8f; 
  }