
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root{

--padding-conteiner: 100px 0;
--color-title: #002c49;

}

body{

font-family: 'Poppins', sans-serif;

}

.conteiner{

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-conteiner);
}

.hero{

    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;

    color: aliceblue;

}

.hero__title{

color: aliceblue;

}

.hero::before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%,#0000008c 100%), url('../Images/familia.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 50% 90%, 0 76%);
    z-index: -1;
}

/* Nav */

.nav{

    --padding-conteiner:0;
    height: 100%;
    display: flex;
    align-items: center;

}

.nav__title{

    font-weight: 300;
    color:aliceblue;

}

.nav__link{
    
    margin-left: auto;
    padding:0;
    display: grid;
    grid-auto-flow: column;
    /*grid-auto-columns: max-content;*/
    gap:3em;
    cursor: pointer;

}

.nav__items{

    list-style: none;

}


.nav__links{

color: aliceblue;
text-decoration: none;

}

.nav__menu{

    margin-left: auto;
    cursor: pointer;
    display:none;

    }

.nav_img{

display: block;
width: 30px;

}

.hero__container{

    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title{

font-size: 3em;

}

.hero__paragraph{

margin-bottom: 30px;

}

.cta{

display: inline-block;
background-color: #f8bf01;
justify-self: center;
color: rgb(6, 27, 46);
text-decoration: none;
padding: 20px 36px;
border-radius: 30px;

}

.nav__image_logo{

    width: 100px;
    height: 64px;
}

.rayita{

background-color: rgb(0, 255, 64);

}

.about{

text-align: center;

}

.subtitle{

padding-top: 130px;
color: var(--color-title);
font-size: 2rem;
margin-bottom: 25px;

}

.about__paragraph{

    line-height: 1.5;
    font-size: 140%;

}



.about__icons{

display: grid;
gap: 1em;
justify-items: center;
width: 260px;
overflow: hidden;
margin: 0 auto;

}

.about_icon{

width: 40px;

}

.about__main{

padding-top: 80px;
display: grid;
width: 90%;
margin:0 auto;
gap: 1em;
overflow: hidden;
grid-template-columns: repeat(auto-fit, minmax(250px, auto));

}