
:root{

    --rojo:rgb(182, 22, 22);
    --rojo-shade:rgb(155, 22, 22);
    --rojo-super-shade: rgb(120, 22, 22);
    --ama:rgb(255, 123, 0);
    --blan:rgb(255, 250, 250);
    --gris: rgb(39, 39, 39);

}

@font-face {
    font-family: "Poppins-title";
    src: url(Poppins/Poppins-BlackItalic.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(Poppins/Poppins-Light.ttf);
}

html{

    scroll-behavior: smooth;

}

body{

margin:0;
padding: 0;

font-family: "Poppins";

}

#todo{

width: 100%;
display: flex;
flex-direction: column;
align-items: center;

}


#mini-logo{

position: absolute;

height: auto;
width: 200px;

top: 20px;
left: 20px;

z-index: 97;

}

#cont-texto-anim{

    position: absolute;
    top: 90px;
    width: 100%;
    color: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7em;

}

#cont-texto-anim h3{

    margin: 0;
    margin-top: 20px;
    font-weight: 200;

}

#texto-anim{

    font-family: "Poppins-title";

}

#boton-texto-anim{

    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 30%;
    background-color: var(--rojo);
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    font-size: 0.8em;
    transition: all 0.3s ease-in-out;

}

#boton-texto-anim:hover{

    background-color: var(--ama);
    transform: scale(110%);

}

#hero-container{

margin-top: 80px;

position: relative;

height: 420px;
width: 100%;
/* background-color: black; */

}

#imagenes{

    position: relative;

    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

    overflow: hidden;

}

#slider-filter{

position: absolute;    
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.3);

}

.slider-img{

position: absolute;

left: 0px;

height: 100%;
width: 100vw;

background-size: cover;

background-position: center;

background-repeat: no-repeat;

transition: all 1s ease-in-out;

}

#slider-barras{

    position: absolute;
    bottom: 0px;

    width: 100%;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 3%;

}

.slider-barra{

height: 3px;
width: 5%;
background-color: var(--blan);
border-radius: 3px;
transition: all 0.3s ease-in;

}

.slider-barra:hover{

    cursor: pointer;

}

#boton-left-slider{
    left: 10px;
}
#boton-right-slider{
    right: 10px;
}

.boton-slider{

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #fff;
    z-index: 11;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    color: #000000;
    bottom: 200px;

}

.boton-slider:hover{

    cursor: pointer;
    color: #fff;
    background-color: var(--gris);

}


#servicios{

height: 700px;
width: 90%;
margin-top: 30px;

}

#Mant{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;
    width: 100%;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 16px #d9d9d9,
                 -20px -20px 16px #ffffff;
    border: 1px solid rgb(224, 224, 224);
    text-align: center;
    text-size-adjust: 50%;

}

#Mant-cont{

display: flex;
flex-direction: row;
height: 100%;

}

#Mant-somos{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 50%;

}

.boton-carrusel{

position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 50px;
width: 50px;
background-color: var(--rojo);
z-index: 9;
border-radius: 50%;
transition: all 0.3s ease-in-out;
color: #ffffff;

}

#boton-left{

left: 0px;

}

#boton-right{

right: 0px;

}

.boton-carrusel:hover{

background-color: var(--ama);
cursor: pointer;

}

.product-item{

    width: 100%;

}

.product-img{

    border-radius: 20px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;

}

#Mant p{

width: 80%;

}

#Mant img{

width: clamp(200px,40%,270px);

height: auto;

margin-top: 20px;

}

#Mant h3{

    font-family: "Poppins-title";
    font-size: 1.5em;
    margin: 15px;

}

#Mant a{

    height: 60px;
    width: 200px;

}

#Mant-servicios{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 2%;

}

.boton{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    background-color: var(--rojo);
    border-radius: 20px;
    transition: all 0.3s ease-in;

}

.boton:hover{

    transform: scale(110%);
    background-color: var(--ama);

}

#testimonios{

    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 100%;

}

#title-testi{

    font-family: "Poppins-title";

}

#testi-info{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 25%;
    color: #fff;
    background-color: var(--rojo-super-shade);
    border-radius: 50px;
    box-shadow:  30px 30px 0px #d9d9d9,
             -30px -30px 0px #ffffff;
    font-size: 0.95em;

}

#testi-info h4{

    font-family: "Poppins-title";
    font-size: 1.2em;

}

#testi-info p{

    text-align: center;
    font-size: 0.9em;

}

.testi{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90%;
    width: 20%;
    background: #ffffff;
    box-shadow:  20px 20px 16px #d9d9d9,
                 -20px -20px 16px #ffffff;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 20px;

}

.testi-img{

height: 20%;
width: 50%;
background-size: 50%;
background-position: center;
background-repeat: no-repeat;

}

.testi-text{

    display: flex;
    flex-direction: row;
    height: 60%;
    color: var(--rojo);
    font-family: "Poppins";
    font-weight: 800;
    font-size: 0.95em;

}

.color-red{

    color: var(--rojo);
    font-weight: bolder;

}

.testi-franja{

    height: 10%;
    width: 100%;
    background-color: var(--rojo);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

#contacto{

    margin-top: 80px;
    display: flex;
    flex-direction: row;
    border-top: 20px solid var(--rojo);
    height: 650px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

}

#contacto form{

    display: flex;
    width: 55%;
    height: 100%;
    background-color: var(--rojo);
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    flex-direction: column;
    align-items: center;
    font-family: "Poppins-title";
    color: #ffffff;
    font-size: 1.5em;
}

::placeholder{

    text-indent: 10px;

}

.imp{

    margin-top: 20px;
    width: 60%;
    height: 30px;
    border-radius: 20px;
    border: 2px solid var(--rojo-shade);
    background-color: var(--rojo-super-shade);
    resize: none;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 0.7em;

}

#btn-form{

    margin-top: 20px;
    border-radius: 20px;
    height: 50px;
    width: 40%;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    font-family: "Poppins";
    font-size: 0.7em;
    transition: all 0.3s ease-in-out;
}

#btn-form:hover{

    cursor: pointer;
    transform: scale(110%);
    background-color: var(--ama);
    border-color: var(--ama);
    color: #ffffff;

}

#o{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 2%;
    color: #ffffff;
    font-size: 2em;

}

#img-contacto{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 100%;
    height: 100%;
    width: 43%;
    font-family: "Poppins-title";
    color: #ffffff;
    font-size: 2em;
    margin-left: 20px;
}

#contacto-boton{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    height: 90px;
    width: 60%;
    background-color: var(--rojo);
    gap:2%;
    font-size: 0.8em;
    transition: 0.3s all ease-in-out;

}

#contacto-boton:hover{

    background-color: rgb(160, 236, 45);
    transform: scale(110%);

}

footer{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 100px;
/* border-top: 10px solid var(--rojo); */
height: 650px;
width: 100%;
background-color: var(--gris);

}

#footer-info{

display: flex;
flex-direction: row;
align-items: center;
height: 50%;
width: 90%;
color: #fff;

}

.footer-item{

display: flex;
flex-direction: column;
height: 100%;
width: 33%;

}

.footer-item p{

    margin: 0;
    margin-top: 10px;

}

.footer-item a{

color: #fff;
text-decoration: none;

}

.footer-item a:hover{

cursor: pointer;
color: var(--rojo);

}

#footer-logo{

    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 33%;
}


#footer-clientes{

margin-top: 50px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
height: 40%;
width: 100%;

}

.cliente-img{

    height: 200px;
    width: 200px;
    background-size: 100%;
    background-repeat: no-repeat;

}

#mini-footer{

    text-align: center;
    height: 70px;
    width: 100%;
    background-color: var(--rojo);
    color: #ffb5b5;

}

@media (max-width:1000px) {

    #Mant-somos, #Mant-servicios{

        font-size: 90%;
        
    }

}


@media (max-width:768px) {

body{

    font-size: 0.8em;

}

#mini-logo{

 left: 10px;
 top: 20px;
 width: 150px;

}

#cont-texto-anim{

    font-size: 1.1em;

}

#texto-anim-sub{

    text-align: center;
        
}

#boton-texto-anim{

    width: 60%;

}

.boton-slider{

    bottom: 120px;

}

#servicios, #Mant{

    height: 840px;

}

#Mant-cont{

    flex-direction: column;
    height: auto;

}

#Mant{

    height: 830px;

}

#Mant-somos, #Mant-servicios{

    width: 100%;

}

#Mant-servicios{

    margin-top: 20px;

}

#title-testi{

    margin-top: 70px;
    text-align: center;

}

#testimonios{

    margin-top: 60px;
    flex-direction: column-reverse;
    height: 1450px;

}

.testi{

    width: 70%;
    height: 330px;

}

.testi-img{

    background-size: 30%;

}

#testi-info{

    width: 90%;
    height: auto;
    
}

#contacto{

    height: auto;
    flex-direction: column;

}

#img-contacto{

margin-left: 0;
height: 400px;
width: 100%;
font-size: 1.3em;

}

#o{

    height: auto;
    width: 100%;

}

.imp{

    width: 85%;

}

#contacto form{

    clip-path: none;
    height: 650px;
    width: 100%;

}

footer{
    
    height: 600px;
    margin-top: 50px;
    justify-content: space-between;
    border-top: 10px solid var(--ama);

}

#footer-info{

    font-size: 0.9em;
    height: 40%;

}

#footer-info p{

    margin-top: 10px;

}

#footer-clientes{
    
    margin-top: 10px;
    height: 20%;

}

.cliente-img{

    height: 50%;
    width: 20%;

}

}